.bgcolor1{
	background-color: #cccccc;
}
.bgcolor2{
	background-color: #ffffff;
}
div.myTT{
	float: left;
	text-align: center;
}
div.classTT{
	float: left;
	text-align: center;
}
#help{
	width: 200px;
	height: 300px;
	position: fixed;
	margin: auto;
}
.lay_container{
	margin: 20px, 40px;
}

/*
color
*/
.bg_navy{
	background: #2c3e50;
}
.bg_lightgray{
	background-color: #aaaaaa
}
/*
common
*/
.circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}

/*
nevbar
*/
ul.menubtn{
	list-style: none;
}
li.menubtn{
	float: right;
}
.menuright{

	float:right;
}
.inred{
    background-color: #d88;
}
.inblue{
    background-color: #88d;
}
.indexLobby{
	width: 800px;
	height: 200px;
	background-color: #aaf;
	margin: auto;
}