<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MJ Time</title>
    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/timetable.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/screen.css">
    <link rel="stylesheet" type="text/css" href="/static/css/MTstyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/lightbox.css">
</head>
<body>
	
{% block layout %}{% endblock %}
</body>
</html>